body {
	font: 14px;
	font-family: Calibri,Candara,Tahoma;
	color: #000;
	background-color: #fff;
	line-height: 1.5em;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.container {
	width: 1200px;
	min-height: 1000px;
	margin: 0 auto; /* top and bottom, right and left */
	text-align: left; /* top, right, bottom, left */
	padding-top: 0em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}
h3 {
	font-size: 25px;
}

h4 {
	color: red;
	font-size: 20px;
}
video {
	width: 80%;
}
table.inter {
	/*border: 1px solid white;*/
	text-align: center;
	width: 80%;
}
tr.buff {
	height: 10px;
}
th.user {
	width: 20%;
}
th.inter {
	width: 20%;
	border: 1px solid white;
}
td.space {
border-top: 1px solid gray;	
height: 10px;
}
td.buff {
	/*border-left: 1px solid gray;	*/
}
th.buff {
	/*border-left: 1px solid gray;*/
	color: gray;
}
a:link {
	color: #4488ff;
	text-decoration: underline;
}
a:active {
	color: #4488ff;
	text-decoration: underline;
}
a:visited {
	color: #4488ff;
	text-decoration: underline;
}
a:hover {
	color: #ff0000;
	text-decoration: none;
}
.reference {
	font-size: 80%;
}




